/* 
    Name: Sean Burke
    Class: CPSC 332 - Web Development
    Assignment: HW4
    Last Modified: 10/4/2024 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.titleBar {
    background-image: linear-gradient(to bottom right, orange, purple);
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;

	h1 {
		text-align: center;
		color: black;
	}
}

.mainArea {
    margin-top: 70px; 
    width: 100vw; 
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 140px); 
}

.flex-item {
    background-image: linear-gradient(to bottom right, orange, purple);
    width: 300px;
    height: 300px;
    margin: 30px;

    h2 {
        text-align: center;
        color: black;
    }

    img {
        display: block;
        height: 80%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-item:hover {
    border: 20px, solid, rgb(222, 222, 41);
}

footer {
    background-color: darkgray;
    position: fixed;
    width: 100vw;
    height: 70px;
    bottom: 0;
    left: 0;
    text-align: center;
}