/* 
    Name: Sean Burke
    Class: CPSC 332 - Web Development
    Assignment: HW4
    Last Modified: 10/2/2024 
*/

.titleBar{
	background-color: orange;
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;

	h1{
		text-align: center;
		color: purple;
	}
}

.mainArea{
	top: 70px;
    height: 100%;
	width: 100%;
    left: 0;
    position: fixed;
    background-color: black;
    display: flex;
}

.flex-item{
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}